:root{
    --primary: #41C091;
    --secondary: #111B47;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

.container{
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thumb_index{
    list-style-type: none;
    display: inline-block;
}

.thumb_index:hover{
    cursor: pointer;
    background-color: #41C091;
    transition: 1.1s all;
    border-radius: 10px;
}

.is-active{
    background-color: #41C091;
    border-radius: 10px;
    color:#111B47;
}

.is-not-active{
    color: #41C091;
}

.thumb_index:hover a{
    color: #111B47;
}

.thumb_index a{
    text-decoration: none;
    padding: 8px;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #111B47;
    padding: 16px 32px;
    border-bottom: 3px #41C091;
}

#logo{
    color: #41C091;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}