:root{
    --primary: #41C091;
    --secondary: #111B47;
}

body{
    background-color: #111b47c7;
}

.style-setting {
    position: relative;
    top: 150px;
    left: 30px;
    /* text-align: center; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

input[type="checkbox"]{
    position: relative;
    top: 3px;
    width: 30px;
    height: 20px;
    -webkit-appearance: none;
    background: #c4c4c4;
    outline: none;
    align-content: center;
    border-radius: 10px;
    transition: .9s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

input:checked[type="checkbox"]{
    background: #41C091;
}

input[type="checkbox"]:before{
    background: #41C091;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 12px;
    top: 2px;
    left: 2px;
    background: #111B47;
    transform: scale (1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.9s;
}

input:checked[type="checkbox"]:before{
    left: 12px;
}

input[type="button"]{
    background: #c4c4c4;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    border-spacing: 5px;
    border-color: #111B47;
}

#submit{
    position: relative;
    align-self: center;
    top: 40px;
    width: 200px;
}

input[type="button"]:hover{
    background: #2a7e60;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: #111B47;
}

.select-user {
    margin-left: 30px;
}

input[type="text"]{
    font-size: 18px;
    background: #c4c4c4;
    border-radius: 10px;
    text-align: left;
    text-indent: 5px;
}

option{
    font-size: 15px;
}

#btnSub{
    position: relative;
    margin: 30px;
    width: 100px;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: #111B47;
}

#btnSub:hover{
    background: #41C091;
}