.button{
    text-align: center;
}

.button a:hover{
    background-color: #fb8500;
}

.button a{
    display: inline-block;
    text-align: center;
    background-color: #8ecae6;
    color: #023047;
    text-decoration: none;
    border: 3px solid #023047;
    border-radius: 20px;
    font-size: 30px;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 250px;
    height: 45px;
    transition: all 0.3s;
    cursor: pointer; 
}